
ul {
    display: block;
    list-style-type: disc;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    padding-inline-start: 40px;
    unicode-bidi: isolate;
}

.nav-ul {
    display: flex;
    flex-wrap: wrap;
    margin-right: calc(20px / 2* -1);
    margin-left: calc(20px / 2* -1);
    padding-top: 2rem;
    padding-bottom: 2rem;
}
.nav-ul li {
    padding-left: .7rem;
    padding-right: .7rem;
}

.nav-ul li a {
    min-height: 25px;
    color: #272626;
    position: relative;
    width: 100%;
    display: flex;
    align-items: center;
    cursor: pointer;
    font-size: 1.2rem;
}

.nav-ul li > .wrap {
    display: flex;
    align-items: center;
    position: relative;
    padding: 0 4px;
}